@import '/src/styles.scss';

.floating-round-button{
    border:1px solid black;
    border-radius: 50%;
    position: absolute;
    width:35px;
    height: 35px;
    bottom: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 500px;
    opacity: 0;
    transition: opacity ease-in-out .3s;
    cursor: pointer;
    outline:none;
    z-index: 5;

    .MuiSvgIcon-root{
        width:25px;
        height: 25px;
    }

    &.add{
        left: 5px;
    }

    &.remove{
        right: 5px;
    }

    &.edit{
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}