@import '/src/styles.scss';

.main-side-bar{
    display: grid;
    grid-template-columns:calc(100% - 25px) 25px;
    position: absolute;
    left: 0;
    top: 0;
    width:300px;
    height: 100%;
    background-color: $primaryLight;
    color: $primaryDark;
    border-top: 3px solid $primaryDark;
    border-bottom: 3px solid $primaryDark;
    padding-left: 8px;
    z-index: 8;
    transition: transform 0.4s ease-in-out;
    
    &.hidden{
        transform: translateX(calc(25px - 100%));
    }
}

.side-bar-closer{
    border-left: 1px solid $primaryDark;
    padding-left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darken($primaryLight, 8%);
    width:25px;
    cursor: pointer;

    img{
        width: 100%;
    }
    
}

.side-bar-paragraph{
    p{
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        margin: 8px 0;
    }
}

.mind-map-button{
    position: relative;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    border-bottom: 1px solid darken($primaryLight, 12%);

    .MuiSvgIcon-root{
        width:55px;
        height: 55px;
        fill: $primaryDark;
    }

    &.item{
        padding: 8px;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
        font-size: 18px;
    }

    &:hover, &.active{
        background-color: darken($primaryLight, 5%);
    }
    &:hover .delete-mind-map-button{
        opacity: 1;
    }
}

.delete-mind-map-button{
    position: absolute;
    right: 15px;
    fill: $primaryDark;
    top: calc(50% - 12.5px);
    border-radius: 50%;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    transition: opacity ease-in-out 0.3s;
    opacity: 0.1;

    .MuiSvgIcon-root{
        height:25px;
        width: 25px;

    }
}