@import '/src/styles.scss';

.mind-map__elements-holder{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transform-origin: left top;
}

.line{
    position: absolute;
    height: 2px;
    background-color: white;
}

.svg-line{
    position: absolute;
    overflow: visible;
    line{
        stroke-width:2px;
    }
}