@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
$primaryLight: #21e6c1;
$primaryAlmostLight: #278ea5;
$primaryDark: #071e3d;
$primaryAlmostDark: #1f4287;

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', sans-serif;
    margin: 0;
}