@import '/src/styles.scss';

.dialog{
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:90vw;
    max-width: 500px;
    text-align: center;

    &-title{
        font-size: 28px;
        margin-top: 0;
    }
    &-smaller-title{
        font-size: 22px;
        margin-top: 0;
    }
}

.text-field{
    width:100%;
}

.buttons-wrapper{
    display: grid;
    grid-template-columns:repeat(2, calc(50% - 3px));
    align-items: center;
    justify-content: center;
    margin: calc(15px + 3vw) auto 10px;
    gap: 6px;
}

.dialog-button{
    width: 100%;
    font-weight: 500;
}

.colors-radio-input{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.color-style-appearance{
    width: 60px;
    height: 25px;
    border-radius: 6px;
    border: 2px solid black;
    font-size: 14px;
}

.input-title{
    text-align: left;
    margin: 12px 0 7px;
    color: gray;
    font-weight: 400;

    &.with-input{
        display:flex;
        justify-content: space-between;
    }
}